# .env.api
DB_URL=dbms://login:password@url:5432/db_name
PORT=:8080
JWT_SECRET=this_jwt_secret_is_not_secure_please_change_it

# .env.db
POSTGRES_DB=db_name
POSTGRES_PASSWORD=password
POSTGRES_USER=login